<!doctype html>
<html class="no-js">
   <head>
      <meta charset="utf-8">
      <title>My Animal Shelter</title>
      <meta name="description" content="animal shelter for cats and dogs">
      <meta name="viewport" content="width=device-width">
      <meta name="robots" content="index,follow">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
      <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->

      <!-- modernizr and fastclick should be loaded in header -->
      <script src="bower_components/modernizr/modernizr.js"></script>
      <script src="bower_components/fastclick/lib/fastclick.js"></script>
      <!-- End -->

      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="styles/about.css">
      <link rel="stylesheet" href="styles/contact.css">
      <link rel="stylesheet" href="styles/events.css">
      <link rel="stylesheet" href="styles/adopt.css">
      <link rel="stylesheet" href="styles/volunteer.css">
      <!-- endbuild -->
   </head>
   <body ng-app="animalShelterApp">
   <div class="body-wrapper">
      <!--[if lt IE 7]>
         <p class="browsehappy">
         You are using an <strong>outdated</strong> browser.
         Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
         experience.
         </p>
      <![endif]-->

      <!-- Top Banner and Navigation Bar -->
      <div class="row">
         <div class="medium-12 large-12 columns">
            <img src="images/homepage_banner.jpg" class="homepage-banner" alt="homepage banner">
            <nav class="top-bar" data-topbar role="navigation">
               <ul class="title-area">
                  <li class="name">
                  <h1><a href="">Animal Shelter</a></h1>
                  </li>
                  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu"
                  to just have icon alone -->
                  <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
               </ul>
               <section class="top-bar-section">
                  <ul class="right" ng-controller="NavCtrl">
                     <li>
                        <a ng-href="#/" ng-click="activeMenu.item = 1"
                        ng-class="{'active-item': activeMenu.item == 1}">Home</a>
                     </li>
                     <li>
                        <a ng-href="#/adopt" ng-click="activeMenu.item = 2"
                        ng-class="{'active-item': activeMenu.item == 2}">Find</a>
                     </li>
                     <li>
                        <a ng-href="#/volunteer" ng-click="activeMenu.item = 3"
                        ng-class="{'active-item': activeMenu.item == 3}">Volunteer</a>
                     </li>
                     <li>
                        <a ng-href="#/events" ng-click="activeMenu.item = 4"
                        ng-class="{'active-item': activeMenu.item == 4}">Events</a>
                     </li>
                     <li>
                        <a ng-href="#/contact" ng-click="activeMenu.item = 5"
                        ng-class="{'active-item': activeMenu.item == 5}">Contact Us</a>
                     </li>
                     <li>
                        <a ng-href="#/about" ng-click="activeMenu.item = 6"
                        ng-class="{'active-item': activeMenu.item == 6}">About Us</a>
                     </li>
                  </ul>
               </section>
            </nav>
         </div>
      </div>

      <div class="row"> <!-- Angular View -->
         <div class="medium-12 large-12 column">
            <div ng-view></div>
         </div>
      </div> <!-- End Angular View -->

      <br><br>
      <div class="row"> <!-- Footer Row -->
         <div class="medium-12 large-12 columns">
            <div class="footer-wrap">
               <div class="large-12 columns"><br>
                  <ul class="left footer-links">
                     <li><a href="#/">Home</a></li>
                     <li><a href="#/adopt">Find</a></li>
                       <li><a href="">Volunteer</a></li>
                       <li><a href="#/events">Events</a></li>
                       <li><a href="">Donate</a></li>
                       <li><a href="#/about">About Us</a></li>
                       <li><a href="#/contact">Contact US</a></li>
                  </ul>
                  <ul class="right social-icons">
                       <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
                       <li><a href="#" class="fa fa-lg fa-youtube"></a></li>
                       <li><a href="#" class="fa fa-lg fa-instagram"></a></li>
                       <li><a href="#" class="fa fa-lg fa-twitter"></a></li>
                  </ul>
               </div>
               <div class="large-12 columns">
                  <p class="copyright-credits">&copy 2015 Copyrighted. Designed and Developed by
                     <a href="http://www.danilonavas.net" target="blank">D.Navas</a> and D.Silver.
                  </p>
               </div>
            </div> <!-- End footer-wrap -->
         </div> <!-- End Columns -->
      </div> <!-- End Footer Row -->
    </div> <!-- End body-wrapper -->

      <!-- build:js(.) scripts/oldieshim.js -->
      <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.js"></script>
      <![endif]-->
      <!-- endbuild -->

      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

      <!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
      <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
      <script src="bower_components/foundation/js/foundation.js"></script>
      <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/nav.js"></script>
      <script src="scripts/services/sharedservices.js"></script>
      <script src="scripts/controllers/about.js"></script>
      <script src="scripts/controllers/contact.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/routes.js"></script>
      <script src="scripts/controllers/events.js"></script>
      <script src="scripts/controllers/adopt.js"></script>
      <script src="scripts/controllers/volunteer.js"></script>
      <!-- endbuild -->

      <script> // Start Zurb Foundation
         $(document).foundation();
      </script>
   </body>
</html>
