# Omit anything compiled and vendor files
/bootstrap/compiled.php
/vendor

# Omit composer if exists
composer.phar

# Keep "composer.lock" to lock down our dependencies versions

# Keep environment settings: ".env.*.php", ".env.php"

# Ignore pesky DB and Index files
.DS_Store
Thumbs.db

# Omit Session Data
/app/storage/*.*