# Omit anything compiled and vendor files
/bootstrap/compiled.php
/vendor

# Omit docs
/docs

# Omit composer if exists
composer.phar

# Keep "composer.lock" to lock down our dependencies versions

# Ignore environment settings
.env.*.php
.env.php

# Ignore pesky DB and Index files
.DS_Store
Thumbs.db
/nbproject/private/