@charset 'UTF-8';

/*********** Master Layout Custom Styles ************/

.row .view-title {
	text-align: center;
}

.row .val-top-box-errors ul {
	font-size: 13px;
}

.val-top-box-errors {
	padding-bottom: 0px;
}

body {
	background-color: #EAEAEA;
}
.top-banner {
	text-align: center;
	background-color: #474747;
	height: 110px;
}

.top-banner-text-1 {
	color: #F0F0F0;
	padding-top: 14px;
}

.top-banner-text-2 {
	color: #F0F0F0;
	margin-bottom: 0px;
}

/* ************************** FOOTER ***************************/
.footer-wrap {
	height: 130px;
	width: 100%;
	background-color: #474747;
}

.copyright-credits {
	text-align: right;;
	color: #E0E0E0;
	font-size: 11px;
}

.social-icons li {
	margin-right: 16px;
	display: inline;
}

.footer-links {
	list-style-type: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
/* main links */
.footer-links li a {
	color: #E0E0E0;
}

.social-icons li a {
	color: #E0E0E0;
}

.footer-links li a:hover {
	color: #FF8000;
}

.social-icons li a:hover {
	cursor: hand;
	color: #FF8000;
}

.social-icons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}