@charset 'UTF-8';

/*********** Master Layout Custom Styles ************/

.row .view-title {
	text-align: center;
}

.row .val-top-box-errors ul {
	font-size: 13px;
}

body {
	background-color: #EAEAEA;
}
.top-banner {
	text-align: center;
	background-color: #474747;
}

.top-banner-text-1 {
	color: #F0F0F0;
	padding-top: 14px;
	margin-bottom: 0;
}

.top-banner-text-2 {
	color: #F0F0F0;
	padding-bottom: 20px;
}

/* ************************** FOOTER ***************************/
.footer-wrap {
	height: 120px;
	width: 100%;
	background-color: #474747;
}

.copyright-credits {
	text-align: right;;
	color: white;
	font-size: 11px;
}

.social-icons li {
	margin-right: 16px;
}

/* Elements */
.footer-links {
	list-style-type: none;
	font-size: 12px;
	color: white;
	margin: 0;
	padding: 0;
}

.social-icons {
	margin: 0;
	padding: 0;
}