@charset 'UTF-8';

/*********** Add Animal Record Template Custom Styles ************/

.create-record-description {
	height: 100px;
}

div.ui-datepicker{
 font-size: 14px;
}

.photo-set-previews {
	width: 120px;
	margin-top: 10px;
	margin-right: 6px;
}

.mark-to-delete-label {
	margin-left: 18px;
}

#preview-holder {
	height: 140px;
}