@charset 'UTF-8';

.events-title-wrap {
   margin-top: 60px;
   margin-bottom: 40px;
}

.event-wrap {
	border-radius: 6px;
	padding-bottom: 0;
	margin-bottom: 20px !important;
}

.event-date {
	font-size: 14px;
	margin-bottom: 0;
}

.event-body {
	background-color: #E8E8E8;
}