<!-- About Us Info - /views/about.html -->
<div class="row">
	<div class="about-title-wrap medium-6 medium-centered large-6 large-centered columns">
		<h3>My Animal Shelter</h3>
		<i class="fa fa-spinner fa-pulse fa-2x"></i>
	</div><br>
	<div class="medium-8 medium-centered large-8 large-centered columns">
		<div class="about-body">{{aboutus.body}}</div>
	</div>
</div>

<div class="row">
	<div class="medium-6 large-6 columns text-right">
		<a href="#/donate" class="button large info radius">Donate</a>
	</div>
	<div class="medium-6 large-6 columns text-left">
		<a href="#/volunteer" class="button large secondary radius">Volunteer</a>
	</div>
</div>
